[submodule "user/themes/kaneka-grav-theme"]
	path = user/themes/kaneka-grav-theme
	url = git@github.com:nargetdev/kaneka-grav-theme.git
[submodule "user/themes/kaneka"]
	path = user/themes/kaneka
	url = git@github.com:nargetdev/kaneka-grav-theme.git
